<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vdlm.dal.mapper.ActivityMapper" >
  <resultMap id="BaseResultMap" type="com.vdlm.dal.model.Activity" >
    <id column="id" property="id" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="img" property="img" />
    <result column="banner" property="banner" />
    <result column="type" property="type"/>
    <result column="start_time" property="startTime"/>
    <result column="end_time" property="endTime"/>
    <result column="remind" property="remind"/>
    <result column="summary" property="summary"/>
    <result column="details" property="details"/>
    <result column="act_date" property="actDate" jdbcType="TIMESTAMP" />
    <result column="creator_id" property="creatorId" typeHandler="idHandler" />
    <result column="archive" property="archive" jdbcType="BIT" />
    <result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
    <result column="closed_at" property="closedAt" jdbcType="TIMESTAMP" />
    <result column="apply_start_time" property="applyStartTime" jdbcType="TIMESTAMP"/>
    <result column="apply_end_time" property="applyEndTime" jdbcType="TIMESTAMP"/>
    <result column="channel" property="channel"/>
    <result column="url" property="url"/>
    <result column="tag_image" property="tagImage"/>
    <result column="status" property="status"/>
  </resultMap>
  
  <resultMap type="com.vdlm.dal.vo.ActivityEX" id="activityEX" extends="BaseResultMap">
  	<id column="ticketId" property="ticketId" />
  	<result column="preferential_type" property="preferentialType" jdbcType="INTEGER"/>
  	<result column="discount" property="discount" jdbcType="DECIMAL"/>
  	<result column="ticketStatus" property="ticketStatus" />
  	<result column="ticketStartTime" property="ticketStartTime" jdbcType="TIMESTAMP"/>
  	<result column="ticketEndTime" property="ticketEndTime" jdbcType="TIMESTAMP"/>
  </resultMap>
  
  <sql id="Base_Column_List" >
    id, name, img, banner, type, start_time, end_time, remind, summary, 
    details, act_date, status, archive, creator_id, created_at, closed_at, apply_start_time, apply_end_time, channel, url, tag_image
  </sql>
  <sql id="Product_Activity_Column_List">
  	name
  </sql>
  
  <insert id="insert" parameterType="com.vdlm.dal.model.Activity" >
    <selectKey resultType="String" keyProperty="id">
        SELECT LAST_INSERT_ID() AS id
    </selectKey>
    insert into vdlm_activity (name, img, banner, type, start_time, end_time, remind, summary, details, status, archive, creator_id, created_at, apply_start_time, apply_end_time, channel, url, tag_image)
    values (#{name}, #{img}, #{banner}, #{type}, #{startTime}, #{endTime}, #{remind}, #{summary}, #{details}, #{status}, 0, #{creatorId, typeHandler=IdHandler}, now(), #{applyStartTime}, #{applyEndTime}, #{channel}, #{url}, #{tagImage})
  </insert>
  
  <!--  
  <insert id="update" parameterType="com.vdlm.dal.model.Activity" >
    <selectKey resultType="String" keyProperty="id">
        SELECT LAST_INSERT_ID() AS id
    </selectKey>
    insert into vdlm_activity (name, type, start_time, end_time, remind, preferential_type, discount, reduction, summary, details, archive, creator_id, created_at)
    values (#{name}, #{type}, #{startTime}, #{endTime}, #{remind}, #{preferentialType}, #{discount}, #{reduction}, #{summary}, #{details}, 0, #{creatorId, typeHandler=IdHandler}, now())
  </insert>
  -->
  
  <update id="update" parameterType="com.vdlm.dal.model.Activity" >
    update vdlm_activity
    <set >
      <if test="name != null" >
        name = #{name},
      </if>
      <if test="type != null" >
        type = #{type},
      </if>
      <if test="startTime != null" >
        start_time = #{startTime},
      </if>
      <if test="endTime != null" >
        end_time = #{endTime},
      </if>
      <if test="remind != null" >
        remind = #{remind},
      </if>
      <if test="details != null" >
        details = #{details},
      </if> 
      <if test="applyStartTime != null" >
        apply_start_time = #{applyStartTime},
      </if>
      <if test="applyEndTime != null" >
        apply_end_time = #{applyEndTime},
      </if>
      <if test="channel != null">
      	channel = #{channel},
      </if>
      <if test="url != null">
      	url = #{url},
      </if>
      <if test="tagImage != null">
      	tag_image = #{tagImage},
      </if>
      updated_at = now()
    </set>
    where id = #{id} and archive=false
  </update>
  
  <select id="loadById" resultMap="BaseResultMap">
  	select 
  	<include refid="Base_Column_List"/>
  	from vdlm_activity 
  	where id=#{id}
  </select>
  
  <select id="selectByPrimaryKey" resultMap="activityEX">
    select a.*, at.preferential_type, at.discount, at.reduction, at.status as ticketStatus, at.start_time as ticketStartTime, at.end_time as ticketEndTime, at.id as ticketId
  	from vdlm_activity a left join vdlm_activity_ticket at on a.id=at.activity_id
    where a.id = #{id} and a.archive = false and  (at.archive is null or at.archive=false) 
		and at.shop_id = #{shopId, typeHandler=IdHandler}
    <if test="onlySubmitted == true">
    	and (at.audit_status is null or at.audit_status = 'SUBMITTED')
    </if>
  </select>
  
  <select id="selectAll" resultMap="activityEX">
    select a.*, at.preferential_type, at.discount, at.reduction, at.status as ticketStatus, at.start_time as ticketStartTime, at.end_time as ticketEndTime, at.id as ticketId
  	from vdlm_activity a left join vdlm_activity_ticket at on a.id=at.activity_id
    where and a.archive = false and  (at.archive is null or at.archive=false)
  </select>
  
  <select id="selectPub" resultMap="activityEX">
    select a.*, at.preferential_type, at.discount, at.reduction, at.status as ticketStatus, at.start_time as ticketStartTime, at.end_time as ticketEndTime, at.id as ticketId
  	from vdlm_activity a left join vdlm_activity_ticket at on a.id=at.activity_id
    where (a.type = 'PUBLIC' or a.type = 'PUBLIC_FOREVER')
    and a.archive = false and  (at.archive is null or at.archive=false)
  </select>
  
  <select id="selectByUser" resultMap="activityEX">
    select a.*, at.preferential_type, at.discount, at.reduction, at.status as ticketStatus, at.start_time as ticketStartTime, at.end_time as ticketEndTime, at.id as ticketId
  	from vdlm_activity a left join vdlm_activity_ticket at on a.id=at.activity_id
    where a.creator_id = #{userId, typeHandler=idHandler}
    and a.archive = false and  (at.archive is null or at.archive=false)
  </select>
  
  <select id="selectPublicForeverList" resultMap="activityEX">
  	select *, null as preferential_type, null as discount, null as reduction, null as ticketStatus, null as ticketStartTime, null as ticketEndTime, null as ticketId
  	from vdlm_activity
  	where type = 'PUBLIC_FOREVER'
  </select>
  
  <select id="selectPublicForeverSelf" resultMap="activityEX">
  	select a.*, at.preferential_type, at.discount, at.reduction, at.status as ticketStatus, at.start_time as ticketStartTime, at.end_time as ticketEndTime, at.id as ticketId
  	from vdlm_activity a left join vdlm_activity_ticket at on a.id=at.activity_id 
  	where a.id=#{activityId} and at.audit_status='SUBMITTED' and at.shop_id=#{shopId, typeHandler=idHandler} and a.archive = 0 and at.archive=0
  </select>
  
  <select id="selectPubAndPrivate" resultMap="activityEX">
    select a.*, at.preferential_type, at.discount, at.reduction, at.status as ticketStatus, at.start_time as ticketStartTime, at.end_time as ticketEndTime, at.id as ticketId
  	from vdlm_activity a left join vdlm_activity_ticket at on a.id=at.activity_id
    where (a.type = 'PUBLIC' or
    (a.type = 'PRIVATE' and a.creator_id = #{userId, typeHandler=idHandler}))
    and a.archive = 0 and  (at.archive is null or at.archive=false)
  </select>
  
  <select id="selectNotStartedToBeInProgress" resultMap="activityEX">
    select a.*, at.preferential_type, at.discount, at.reduction, at.status as ticketStatus, at.start_time as ticketStartTime, at.end_time as ticketEndTime, at.id as ticketId
  	from vdlm_activity a left join vdlm_activity_ticket at on a.id=at.activity_id
    where now() &gt; at.start_time and now() &lt; at.end_time and at.audit_status='APPROVED'
    and a.status = 'IN_PROGRESS' and at.status = 'NOT_STARTED' and a.archive = 0 and (at.archive is null or at.archive = 0)
  </select>
  
  <select id="selectNotStartedToBeClosed" resultMap="activityEX">
    select a.*, at.preferential_type, at.discount, at.reduction, at.status as ticketStatus, at.start_time as ticketStartTime, at.end_time as ticketEndTime, at.id as ticketId
  	from vdlm_activity a left join vdlm_activity_ticket at on a.id=at.activity_id
    where now() &gt; at.end_time  and at.audit_status='APPROVED'
    and a.status = 'CLOSED' and at.status = 'NOT_STARTED' and a.archive = 0 and (at.archive is null or at.archive = 0)
  </select>
  
  <select id="selectInProgressToBeClosed" resultMap="activityEX">
    select a.*, at.preferential_type, at.discount, at.reduction, at.status as ticketStatus, at.start_time as ticketStartTime, at.end_time as ticketEndTime, at.id as ticketId
  	from vdlm_activity a left join vdlm_activity_ticket at on a.id=at.activity_id
    where now() &gt; at.end_time and at.audit_status='APPROVED'
    and a.status = 'CLOSED' and at.status = 'IN_PROGRESS' and a.archive = 0 and (at.archive is null or at.archive = 0)
  </select>
  
  <update id="updateStatusToInProgress">
    update vdlm_activity set status = 'IN_PROGRESS'
    where now() &gt; start_time and now() &lt; end_time 
    and status = 'NOT_STARTED' and archive = 0
  </update>
  
  <update id="updateStatusToClosed">
    update vdlm_activity set status = 'CLOSED', closed_time = now()
    where now() &gt; end_time 
    and status in ('IN_PROGRESS', 'NOT_STARTED')
  </update>
  
  <update id="updateStatusToClosedById">
    update vdlm_activity set status = 'CLOSED', closed_time = now()
    where id = #{id}
  </update>
  
  <update id="updateStatusFromStatus">
    update vdlm_activity set status = #{toStatus}
    where id = #{id} 
    and status = #{fromStatus}
  </update>

  <select id="selectCountByRange" resultType="Long">
    select count(*)
    from vdlm_activity
    where creator_id = #{userId, typeHandler=idHandler}
    and (start_time &lt; #{to} and end_time &gt; #{from})
    and archive = 0
    <if test="excludeId != null" >
    and id != #{excludeId} 
    </if>
  </select>
  
  <update id="delete">
    update vdlm_activity set archive = 1
    where id = #{id} 
  	<if test="userId != null">
    	and creator_id = #{userId, typeHandler=idHandler}
  	</if>
  </update>
  
  <select id="obtainProductCurrentActivities" resultMap="BaseResultMap">
	select 
	b.*
	from vdlm_campaign_product a inner join vdlm_activity b on a.activity_id = b.id
	inner join vdlm_activity_ticket ac on a.ticket_id = ac.id 
	where b.status = 'IN_PROGRESS' and ac.status = 'IN_PROGRESS'
	and (SYSDATE() &gt; b.start_time)
	and (SYSDATE() &lt; b.end_time) 
	and b.archive = 0 and ac.archive = 0
	and a.product_id = #{productId, typeHandler=idHandler}
  </select>
  
  <select id="loadActivityEx" resultMap="activityEX">
  	select a.*, at.preferential_type, at.discount, at.reduction, at.status as ticketStatus, at.start_time as ticketStartTime, at.end_time as ticketEndTime, at.id as ticketId
  	from vdlm_activity a left join vdlm_activity_ticket at on a.id=at.activity_id
  	where a.id=#{activityId} and a.archive=false and  (at.archive is null or at.archive=false)
	 and at.shop_id=#{shopId, typeHandler=idHandler}
  	<if test="activityType.name() == 'PUBLIC_FOREVER'">
  		and at.audit_status = 'SUBMITTED'
  	</if>
  </select>
  
  <select id="countActivitysByQuery" resultType="Long">
  	select count(1) from vdlm_activity
  	where (type = 'PUBLIC_FOREVER' or type = 'PUBLIC') and archive=false
  	<if test="paramsMap.name != null">
  		and name like #{paramsMap.name}
  	</if>
  	<if test="paramsMap.channel != null">
  		and channel = #{paramsMap.channel}
  	</if>
  	<if test="paramsMap.startTime != null">
  		and start_time >= #{paramsMap.startTime}
  	</if>
  	<if test="paramsMap.endTime != null">
  		<![CDATA[
			and end_time <= #{paramsMap.endTime}
		]]>
  	</if>
  	<if test="paramsMap.applyStartTime != null">
  		and apply_start_time >= #{paramsMap.applyStartTime}
  	</if>
  	<if test="paramsMap.applyEndTime != null">
  		<![CDATA[
  			and apply_end_time <= #{paramsMap.applyEndTime}
  		]]>
  	</if>
  	<if test="paramsMap.actState != null">
  		and status = #{paramsMap.actState}
  	</if>
  </select>
  
  <select id="listActivitysByQuery" resultMap="BaseResultMap">
  	select
  	<include refid="Base_Column_List"/>
  	from vdlm_activity
  	where (type = 'PUBLIC_FOREVER' or type = 'PUBLIC') and archive=false
  	<if test="paramsMap.name != null">
  		and name like #{paramsMap.name}
  	</if>
  	<if test="paramsMap.channel != null">
  		and channel = #{paramsMap.channel}
  	</if>
  	<if test="paramsMap.startTime != null">
  		and start_time >= #{paramsMap.startTime}
  	</if>
  	<if test="paramsMap.endTime != null">
  		<![CDATA[
			and end_time <= #{paramsMap.endTime}
		]]>
  	</if>
  	<if test="paramsMap.applyStartTime != null">
  		and apply_start_time >= #{paramsMap.applyStartTime}
  	</if>
  	<if test="paramsMap.applyEndTime != null">
  		<![CDATA[
  			and apply_end_time <= #{paramsMap.applyEndTime}
  		]]>
  	</if>
  	<if test="paramsMap.actState != null">
  		and status = #{paramsMap.actState}
  	</if>
  	order by created_at desc
  	limit #{pager.offset}, #{pager.size}
  </select>
</mapper>