<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vdlm.dal.mapper.ImageMapper">
	<resultMap id="BaseResultMap" type="com.vdlm.dal.model.Image">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="img_key" property="key" jdbcType="VARCHAR" />
		<result column="size" property="size" jdbcType="INTEGER" />
		<result column="width" property="width" jdbcType="INTEGER" />
		<result column="height" property="height" jdbcType="INTEGER" />
		<result column="suffix" property="suffix" jdbcType="VARCHAR" />
		<result column="image_ave" property="imageAve" jdbcType="VARCHAR" />
		<result column="belong" property="belong" jdbcType="VARCHAR" />
		<result column="archive" property="archive" jdbcType="BIT" />
		<result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
	</resultMap>
	<sql id="Base_Column_List">
		id, name, img_key, size, width, height, suffix, image_ave, belong, archive, created_at
	</sql>
	
	<delete id="deleteByPrimaryKey">
	  update vdlm_image set archive = true
      where id = #{id} and archive=false
	</delete>
	
	<select id="selectByPrimaryKey" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from vdlm_image
		where id = #{id}
	</select>
	<select id="selectByImgKey" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from vdlm_image
		where img_key = #{imgKey} 
		limit 1
	</select>
	<insert id="insert" parameterType="com.vdlm.dal.model.Image">
		<selectKey resultType="String" keyProperty="id">
			SELECT LAST_INSERT_ID() AS id
		</selectKey>
		insert into vdlm_image(name, img_key, size, width, height, suffix, image_ave, belong, created_at)
		values (#{name,jdbcType=VARCHAR}, #{key,jdbcType=VARCHAR}, #{size,jdbcType=INTEGER},
		#{width,jdbcType=INTEGER}, #{height,jdbcType=INTEGER}, #{suffix,jdbcType=VARCHAR},
		#{imageAve,jdbcType=VARCHAR}, #{belong,jdbcType=VARCHAR}, now())
	</insert>
</mapper>