<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vdlm.dal.mapper.PersonnelMapper" >
  <resultMap id="BaseResultMap" type="com.vdlm.dal.model.Personnel" >
    <id column="id" property="id" typeHandler="idHandler" />
    <result column="ext_user_id" property="extUserId" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="partner" property="partner" jdbcType="VARCHAR" />
    <result column="inner_id" property="innerId" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="Base_Column_List">
    id, name, partner, ext_user_id, inner_id
  </sql>
 <!--  <insert id="insert">
  	<selectKey resultType="string" keyProperty="id">
        SELECT LAST_INSERT_ID() AS id
    </selectKey>
  	INSERT INTO vdlm_personnel (name, partner, ext_user_id)
  	values (#{name},#{partner},#{extUserId, typeHandler=idHandler})
  </insert> -->
  <select id="loadByExtUserIdAndPartner" resultMap="BaseResultMap">
  	select 
  	<include refid="Base_Column_List"/>
  	from vdlm_personnel
  	where partner=#{partner} and ext_user_id=#{userId, typeHandler=idHandler}
  </select>
  <select id="loadByInnerIdAndPartner" resultMap="BaseResultMap">
  	select 
  	<include refid="Base_Column_List"/>
  	from vdlm_personnel
  	where partner=#{partner} and inner_id=#{innerId}
  </select>
</mapper>