<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vdlm.dal.mapper.PromotionProTagMapper" >
	<resultMap id="BaseResultMap" type="com.vdlm.dal.model.promotion.PromotionProTag">
		<id column="id" property="id" typeHandler="idHandler" />
		<result column="shop_id" property="shopId" typeHandler="idHandler" />
		<result column="product_id" property="productId" typeHandler="idHandler"  />
		<result column="tag_id" property="tagId"/>
		<result column="archive" property="archive" jdbcType="BIT" />
		<result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
		<result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP" />
	</resultMap>
	
	<resultMap id="ResultAllMap" type="com.vdlm.dal.vo.PromotionProTagVo" extends="BaseResultMap">
		<result column="shopName" property="shopName" jdbcType="VARCHAR" />
		<result column="productName" property="productName" jdbcType="VARCHAR" />
		<result column="tagName" property="tagName" jdbcType="VARCHAR" />
	</resultMap>
	
	<sql id="Base_Column_List">
	   id,shop_id,product_id,tag_id,type,created_at,updated_at,archive
	</sql>
	
  <insert id="insert" parameterType="com.vdlm.dal.model.promotion.PromotionProTag">
	<selectKey resultType="long" keyProperty="idRaw">
	   SELECT LAST_INSERT_ID() AS id
	 </selectKey>
    insert into vdlm_promotion_protag(shop_id,product_id,tag_id,created_at,updated_at)
    values(#{proTag.shopId,typeHandler=idHandler},#{proTag.productId,typeHandler=idHandler},#{proTag.tagId},now(),now())
  </insert>
  
  <update id="del">
     update vdlm_promotion_protag set archive=true where id=#{id,typeHandler=idHandler} 
  </update>
  
  <select id="getAllList" resultMap="ResultAllMap">
      select 
      pt.id,pt.shop_id,pt.product_id,pt.tag_id,pt.type,pt.created_at,pt.updated_at,
      s.name shopName,p.name productName,t.desc tagName
      from vdlm_promotion_protag pt join vdlm_shop s on pt.shop_id=s.id
      join vdlm_product p on pt.product_id=p.id
      join vdlm_promotion_tag t on pt.tag_id=t.id
      where pt.archive = false 
      <if test="params.shopName != null">
			and s.name like #{params.shopName}
	  </if>	
	  <if test="params.productName != null">
			and p.name like #{params.productName}
	  </if>
	  <if test="params.tagName!=null">
	        and t.`desc` like #{params.tagName} 
	  </if>	
      order by pt.created_at desc  limit #{page.offset}, #{page.size}
  </select>
  
    <select id="countAllList" resultType="Long">
		select 
	      count(1) c
	      from vdlm_promotion_protag pt join vdlm_shop s on pt.shop_id=s.id
	      join vdlm_product p on pt.product_id=p.id
	      join vdlm_promotion_tag t on pt.tag_id=t.id
	      where pt.archive = false  
	      <if test="params.shopName != null">
				and s.name like #{params.shopName}
		  </if>	
		  <if test="params.productName != null">
				and p.name like #{params.productName}
		  </if>
		  <if test="params.tagName!=null">
	        and t.`desc` like #{params.tagName} 
	  </if>		    
	</select>
  
  <select id="getListByTagId" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"></include> from vdlm_promotion_protag where  tag_id=#{tagId}
  </select>
  <select id="selectCntbyProductIdAndTagId" resultType="java.lang.Integer">
    select count(*) from vdlm_promotion_protag  where product_id=#{productId,typeHandler=idHandler} and tag_id=#{tagId}  and archive=false
  </select>
  
  <select id="selectProTagByProIdAndTagId" resultMap="BaseResultMap">
       select <include refid="Base_Column_List"></include> from vdlm_promotion_protag 
       where product_id=#{productId,typeHandler=idHandler}  and   tag_id=#{tagId}
  </select>
  
  <select id="selectByProductId" resultMap="BaseResultMap">
       select <include refid="Base_Column_List"></include> from vdlm_promotion_protag 
       where product_id=#{productId,typeHandler=idHandler}  and  archive=false
  </select>
  
  <select id="selectByProductIdList" resultMap="BaseResultMap">
       select <include refid="Base_Column_List"></include> from vdlm_promotion_protag 
       where 
        product_id in 
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id,typeHandler=idHandler}
        </foreach> 
       and  archive=false
  </select>
  
  <update id="updateArchive">
     update vdlm_promotion_protag set archive=false where id=#{id,typeHandler=idHandler} 
  </update>
  
  <select id="cntByProductIdAndTagId" resultType="java.lang.Integer">
    select count(*) from vdlm_promotion_protag  where  product_id =#{productId} and tag_id=#{tagId}
  </select>
 </mapper>