<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vdlm.dal.mapper.PushMessageMapper" >

    <resultMap id="BaseResultMap" type="com.vdlm.dal.model.PushMessage" >
        <id column="id" property="id" />
        <result column="user_id" property="userId" jdbcType="BIGINT" typeHandler="idHandler" />
        <result column="title" property="title" jdbcType="VARCHAR" />
        <result column="description" property="desc" jdbcType="VARCHAR" />
        <result column="image_url" property="imageUrl" jdbcType="VARCHAR" />
        <result column="detail_url" property="detailUrl" jdbcType="VARCHAR" />
        <result column="type" property="type" jdbcType="VARCHAR" />
        <result column="device_type" property="deviceType" jdbcType="VARCHAR" />
        <result column="status" property="status" jdbcType="VARCHAR" />
        <result column="count" property="count" jdbcType="BIGINT" />
        <result column="baidu_tag_name" property="baiduTagName" jdbcType="VARCHAR" />
        <result column="baidu_channel_id" property="baiduChannelId" jdbcType="BIGINT" />
        <result column="baidu_user_id" property="baiduUserId" jdbcType="VARCHAR" />
        <result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
        <result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP" />
    </resultMap>

    <sql id="Base_Column_List">
        id, user_id, title, description, image_url, detail_url, type, device_type, status, count, baidu_tag_name, baidu_channel_id, baidu_user_id, created_at, updated_at
    </sql>
    
	<select id="selectFail" resultMap="BaseResultMap">
        select 
        <include refid="Base_Column_List" />
        from vdlm_push_message
        where status='FAIL'
    </select>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap">
        select 
        <include refid="Base_Column_List" />
        from vdlm_push_message
        where id = #{id}
    </select>

    <insert id="insert" parameterType="com.vdlm.dal.model.PushMessage">
        <selectKey resultType="String" keyProperty="id">
            SELECT LAST_INSERT_ID() AS id
        </selectKey>
        insert into vdlm_push_message (user_id, title, description, image_url, detail_url, type, device_type, status, count, baidu_tag_name, baidu_channel_id, baidu_user_id, created_at, updated_at)
        values (#{userId,typeHandler=idHandler}, #{title}, #{desc}, #{imageUrl}, #{detailUrl}, #{type}, #{deviceType}, #{status}, #{count}, #{baiduTagName}, #{baiduChannelId}, #{baiduUserId}, now(), now())
    </insert>
    
	<update id="update" parameterType="com.vdlm.dal.model.PushMessage">
		update vdlm_push_message set status = #{status,jdbcType=VARCHAR},count = count+1,updated_at = now()
		where id = #{id}
	</update>
</mapper>