<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vdlm.dal.mapper.SmsVarTplMapper" >

  <resultMap id="BaseResultMap" type="com.vdlm.dal.model.SmsVarTpl" >
    <id column="id" property="id"  typeHandler="idHandler" />
    <result column="var_name" property="varName" jdbcType="VARCHAR" />
    <result column="var_note" property="varNote" jdbcType="VARCHAR" />
    <result column="archive" property="archive" jdbcType="BIT" />
    <result column="created_at" property="createdAt" />
    <result column="updated_at" property="updatedAt" />
  </resultMap>
  
  <sql id="Base_Column_List">
    id, var_name, var_note, archive, created_at, updated_at
  </sql>
  
  <select id="load" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from vdlm_sms_var_tpl
    where id = #{id} and archive = false
  </select>
  
  <select id="loadAll" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from vdlm_sms_var_tpl
    where  archive = false
  </select>
  
</mapper>