<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vdlm.dal.mapper.TinyUrlMapper" >
  <resultMap id="BaseResultMap" type="com.vdlm.dal.model.TinyUrl" >
    <id column="url_key" property="key" />
    <result column="url_md5" property="md5" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
  </resultMap>

  <sql id="Base_Column_List">
    url_key, url_md5, url, created_at
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from vdlm_tinyurl
    where url_key = #{key}
  </select>
  
  <select id="selectByUrl" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from vdlm_tinyurl
    where url_md5 = #{md5}
  </select>

  <insert id="insert" parameterType="com.vdlm.dal.model.TinyUrl">
    insert into vdlm_tinyurl (url_key, url_md5, url, created_at)
    values (#{key,jdbcType=VARCHAR}, #{md5,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, now())
  </insert>
  
</mapper>